html, body, body>div, .app {
  margin: 0;
  height: 100%
}

html {
  font-family: Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
}

.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color:rgb(233, 239, 241);
}

.section {
  width: 900px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: white;
  box-shadow: grey 1px 5px 8px;
}

.h3 {
  margin: 10px 30px;
  font-size: 20px;
}

.article {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 30px;
}

.h2 {
  text-align: center;
}

.container {
  padding: 0 30px;
}